# Port du serveur
PORT=5000

# URI de connexion MongoDB (MongoDB Atlas ou local)
MONGODB_URI=mongodb+srv://moneytrack_user:MoneyTrack2026@cluster0.zlyftve.mongodb.net/moneytrack?appName=Cluster0

# Environnement (development | production)
NODE_ENV=development

# Origine autorisee pour CORS (URL du frontend deploye, ex: Vercel)
CLIENT_URL=http://localhost:5000

# Protection du site par mot de passe (HTTP Basic Auth).
# Laisser vide pour desactiver la protection (deconseille en production).
ADMIN_USER=admin
ADMIN_PASSWORD=1234
